body{
    font-family: Arial;
    background-color: pink;
}

p{
    font-family: Arial;
}

h1{
    font-family: Cursive;
    text-align: center;
}

h4{
    font-family: Cursive;
    font-size: 20px;
    font-weight: bold;
}

img{
    image-orientation: center;
}
